:root {
  /* color */
  --color-border: #000000;
  --color-light-border: #d6d6d6;
  --color-coupon: rgba(231, 170, 0, 0.947);

  /* width, height */
  --content-wrapper-width: 1080px;

  /* spacing */
  --spacing-8px: 8px;
  --spacing-12px: 12px;
  --spacing-20px: 20px;
  --spacing-40px: 40px;
  --spacing-100px: 100px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  align-items: center;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  padding: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

#root {
  width: 100%;
}

.page {
  width: 100%;
  max-width: 1080px;

  margin: 0 auto;
}

.page__item {
  margin-top: var(--spacing-100px);
  width: 100%;
  border-top: 3px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  margin-top: var(--spacing-100px);
}

.cart-list {
  width: 100%;
  padding: 0;
  list-style: none;
}

.cart-selector {
  display: flex;
  width: 5%;
  justify-content: center;
  align-items: center;
  padding-block: var(--spacing-20px);
}

.cart-info {
  display: flex;

  width: 55%;
  align-items: center;
  padding-block: var(--spacing-20px);
  border-right: 0.5px solid var(--color-light-border);
}

.cart-quantity {
  width: 20%;
  justify-content: center;

  display: flex;
  align-items: center;
  padding-block: var(--spacing-20px);
  border-right: 0.5px solid var(--color-light-border);
}

.cart-price {
  display: flex;

  width: 20%;
  justify-content: center;
  align-items: center;
  padding-block: var(--spacing-20px);
}

.cart-header {
  display: flex;

  width: 100%;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
}

.cart-header__title {
  width: 100%;
  justify-content: center;
}

.cart-list {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.cart-item {
  display: flex;
  width: 100%;
  border-top: 0.5px solid var(--color-light-border);
}

.cart-header > .cart-cell {
  justify-content: center;
  border-right: none;
}

/* info */

.cart-item__info-content {
  display: flex;
  gap: var(--spacing-12px);
}

.cart-item__thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cart-item__detail {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8px);
  padding-top: var(--spacing-8px);
}

.cart-item__name {
  font-size: 16px;
  font-weight: 900;
}

.cart-item__price {
  font-size: 15px;
  font-weight: 500;
}

.cart-item__coupon-not-applied {
  color: #c96800;
  font-size: 15px;
  font-weight: 500;
}

/* quantity */

.quantity-control-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

.quantity-button {
  width: 20px;
  aspect-ratio: 1 / 1;
  background-color: transparent;
}

.cart-item__quantity-count {
  display: flex;

  justify-content: center;
  align-items: center;
  border-inline: 1px solid #ccc;
  font-size: 12px;
  width: 20px;
  aspect-ratio: 1 / 1;
}

/* total price */

.cart-item__total-price {
  font-weight: 900;
  font-size: 16px;
}

/* coupon */

.coupon-header {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  padding-block: var(--spacing-20px);
}

.coupon__select {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-block: var(--spacing-20px);
  margin-inline: auto;
}

/* payment */
.payment-header {
  display: flex;
  align-items: center;
}

.payment-header__title {
  display: flex;
  width: 33.3333%;
  justify-content: center;
  padding-block: var(--spacing-20px);
  width: 100%;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
}

.payment {
  display: flex;
  position: relative;
  border-top: 1px solid var(--color-light-border);
}

.payment__price {
  width: 33.3333%;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding-block: var(--spacing-40px);
}

.operator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  background-color: black;
  color: white;
  z-index: 10;
  border-radius: 9999px;
}

.minus-sign {
  left: 33.3333%;
}

.equal-sign {
  right: 33.3333%;
}

.fa-minus {
  color: white;
}

.fa-equals {
  color: white;
}
